<mat-sidenav-container autosize>

  <mat-sidenav #drawer [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">
    <div class="user-profile">
      <img src="./assets/visual/benef-logo.jpg">
    </div>

    <button mat-button class="button" routerLinkActive="selected" routerLink="/dashboard" style="margin-top: 20%;">
      <mat-icon style="margin-right: 10%; margin-left: 13%;">grid_view</mat-icon> Dashboard
    </button>

    <button mat-button class="button" routerLinkActive="selected" routerLink="/add-pet" *ngIf="isAdmin == '1'">
      <mat-icon style="margin-right: 10%; margin-left: 13%;">pets</mat-icon> Product Panel
    </button>

    <button mat-button class="button" routerLinkActive="selected" routerLink="/checkout" *ngIf="isAdmin == '0'">
      <mat-icon style="margin-right: 10%; margin-left: 10%;">pets</mat-icon> Checkout Items
    </button>

    <button mat-button class="button" routerLinkActive="selected" routerLink="/orders" *ngIf="isAdmin == '1'">
      <mat-icon style="margin-right: 10%; margin-left: 13%;">pets</mat-icon> Orders Panel
    </button>

    <button mat-button class="button" routerLinkActive="selected" routerLink="/transactions" *ngIf="isAdmin == '1'">
      <mat-icon style="margin-right: 10%; margin-left: 13%;">pets</mat-icon> Transactions
    </button>


  </mat-sidenav>
  <!-- NAVBAR -->
  <div class="navbar">
    <mat-toolbar class="toolbar">
      <button mat-icon-button class="example-icon" (click)="isExpanded = !isExpanded"
        aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
        <mat-icon style="color: #424242;" *ngIf="!isExpanded">menu</mat-icon>
        <mat-icon style="color: #424242;" *ngIf="isExpanded">menu</mat-icon>
      </button>
      <h1 style="color: #424242; font-size: 16px;"></h1>

      <span class="example-spacer"></span>

      <div class="user__name">
        <span style="display: flex; align-items: center;" [matMenuTriggerFor]="menu"> {{user_name}}
          <mat-icon>arrow_drop_down</mat-icon> </span>
      </div>


      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Account Information</span>
        </button>
        <button mat-menu-item routerLink="/favorite">
          <mat-icon>favorite</mat-icon>
          <span> View Favorites</span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="container">
      <div class="title">
        <h3>Favorite Panel</h3>
      </div>


      <div class="sorter">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip>All</mat-chip>
          <mat-chip>Feeds</mat-chip>
          <mat-chip>Medicine</mat-chip>
        </mat-chip-list>
      </div>

      <div class="pet-container">
        <div class="pet-card" *ngFor="let favorites of favorites">
          <div class="pet-image">
            <img src="{{favorites.pet_img}}" alt="">
            <!-- <mat-icon class="favorite" title="Remove from Favorites" *ngIf="favorite == 1" style="color: red">favorite
            </mat-icon> -->
            <div class="badge" *ngFor="let pets of pets">
              <p *ngIf="pets.pet_breed == favorites.pet_breed && pets.quantity >= '1'">Available</p>
              <p *ngIf="pets.pet_breed == favorites.pet_breed && pets.quantity <= '1'">Not Available</p>
            </div>
          </div>
          <div class="pet-info">
            <h3>{{favorites.pet_breed}}</h3>
            <h4>{{favorites.pet_price | currency: '₱'}}</h4>
            <div class="btn">
              <div *ngFor="let pets of pets">
                <button *ngIf="pets.pet_breed == favorites.pet_breed && pets.quantity <= '1'" disabled style="background-color:#424242">Sold</button>
              </div>
              <div *ngFor="let pets of pets"  style="margin: auto; width: 95%; display: flex; gap: 1px; align-items: center; justify-content: center;">
                <button *ngIf="pets.pet_breed == favorites.pet_breed && pets.quantity >= '1'" style="width: 80%" routerLink="/pet-lists">Add to Cart</button>
                <mat-icon *ngIf="pets.pet_breed == favorites.pet_breed && pets.quantity >= '1'"  style="cursor: pointer; border: 1px solid #cdcdcd; padding: 7px; border-radius: 3px;"
                  title="Remove from Favorite" (click)="deleteFavorite(favorites.fav_id)">delete</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</mat-sidenav-container>
