<mat-sidenav-container autosize>

  <mat-sidenav #drawer [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">
    <div class="user-profile">
      <img src="./assets/visual/benef-logo.jpg">
    </div>

    <button mat-button class="button" routerLinkActive="selected" routerLink="/dashboard" style="margin-top: 20%;">
      <mat-icon style="margin-right: 10%; margin-left: 13%;">grid_view</mat-icon> Dashboard
    </button>

    <button mat-button class="button" routerLinkActive="selected" routerLink="/add-pet">
      <mat-icon style="margin-right: 10%; margin-left: 13%;">pets</mat-icon> Product Panel
    </button>

    <button mat-button class="button" routerLinkActive="selected" routerLink="/orders" *ngIf="isAdmin == '1'">
      <mat-icon style="margin-right: 10%; margin-left: 13%;">pets</mat-icon> Orders Panel
    </button>

    <button mat-button class="button" routerLinkActive="selected" routerLink="/transactions" *ngIf="isAdmin == '1'">
      <mat-icon style="margin-right: 10%; margin-left: 13%;">pets</mat-icon> Transactions
    </button>


  </mat-sidenav>
  <!-- NAVBAR -->
  <div class="navbar">
    <mat-toolbar class="toolbar">
      <button mat-icon-button class="example-icon" (click)="isExpanded = !isExpanded"
        aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
        <mat-icon style="color: #424242;" *ngIf="!isExpanded">menu</mat-icon>
        <mat-icon style="color: #424242;" *ngIf="isExpanded">menu</mat-icon>
      </button>
      <h1 style="color: #424242; font-size: 16px;"></h1>

      <span class="example-spacer"></span>

      <div class="user__name">
        <span style="display: flex; align-items: center;" [matMenuTriggerFor]="menu"> {{user_name}}
          <mat-icon>arrow_drop_down</mat-icon> </span>
      </div>


      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Account Information</span>
        </button>
        <button mat-menu-item>
          <mat-icon>favorite</mat-icon>
          <span> View Favorites</span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="container">
      <div class="title">
        <h3>Profiles Panel</h3>
      </div>

      <div class="profile-tab">
        <div class="ecom-profile">
            <h3>Cart Items</h3>

            <div class="cart-tab">
                <div class="cart"></div>
                <div class="cart"></div>
                <div class="cart"></div>
                <div class="cart"></div>
            </div>
        </div>
        <div class="profile">
          <h3>Profile Information</h3>

          <div class="fields">
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput value="{{name}}" [(ngModel)]="name" [disabled]="isDisabled">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Contact</mat-label>
              <input matInput value="{{contact}}" [(ngModel)]="contact" [disabled]="isDisabled">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Address</mat-label>
              <input matInput value="{{address}}" [(ngModel)]="address" [disabled]="isDisabled">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput value="{{email}}" [(ngModel)]="email" [disabled]="isDisabled">
            </mat-form-field>
            <div class="btn">
              <button (click)="enabled()" *ngIf="isDisabled == true" style="margin-right: 10px">Edit
                Information</button>
              <button (click)="enabled()" *ngIf="isDisabled == false" style="margin-right: 10px">Update Profile</button>
              <button (click)="disabled()" *ngIf="isDisabled == false"
                style="background-color: #F2645C; margin-right: 7px">Cancel</button>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</mat-sidenav-container>
